/* index.css */
@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547; /* Ставим темный цвет текста по умолчанию */
  background-color: #ffffff; /* Ставим белый фон по умолчанию */
}

body {
  margin: 0;
  padding: 0;
}